@import url("https://use.typekit.net/jmk3xov.css");

/* canvas {
  position: fixed;
  top: 0;
  left: 0;
} */

#bg {
  position: fixed;
  top: 0;
  left: 0;
}

#game-canvas {
  position: fixed;
  /* position: relative; */
  top: 0;
  left: 0;
  z-index: 100;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.55);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}


  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    /* font-size: 2.5rem; */
    font-size: 16pw;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    opacity: 0.75;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .bqred {
    background-color: red;
  }
  .bqgreen {
    background-color: green;
  }
  .bqblue {
    background-color: blue;
  }

  .left {
    grid-column: 6 / 12;
  }


  .mouse-shadow {
    color: #CDCDCD;
    color: white;
    text-shadow: 0px 0px black;
  }

  @keyframes blink {50% { color: transparent }}
.loader__dot { animation: 5s blink infinite }
.loader__dot:nth-child(1) { animation-delay: 1s }
.loader__dot:nth-child(2) { animation-delay: 2s }
.loader__dot:nth-child(3) { animation-delay: 3s }